:root {
    
    /* Primary colors */
    --bLightRed: hsl(0 100% 67% / 10%);
    --bOrangeyYellow: hsl(39 100% 56% / 10%);
    --bGreenTeal: hsl(166 100% 37% / 10%);
    --bCobaltBlue: hsl(234 85% 45% / 10%);

    --LightRed: hsl(0 100% 67%);
    --OrangeyYellow: hsl(39 100% 56%);
    --GreenTeal: hsl(166 100% 37%);
    --CobaltBlue: hsl(234 85% 45%);

    /* Gradients */

    /*(background)*/
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);

    /*(circle)*/
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --PaleBlue: hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);
    --bDarkGrayBlue: hsl(224 30% 27% / 45%);

    /* Fuente */
    --fuentePrincipal: 'Hanken Grotesk', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

/* Globals */

body{
    background-color: var(--White);
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}

.contenedor {
    background-color: var(--White);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
}

@media (min-width: 375px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .contenedor {
        width: min(90%, 60rem);
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-shadow: 26px 26px 147px -49px rgba(54,32,117,0.55);
        -moz-box-shadow: 26px 26px 147px -49px rgba(54,32,117,0.55);
        box-shadow: 26px 26px 147px -49px rgba(54,32,117,0.55);
    }
}


.no-margin{
    margin: 0;
}

.boton {
    border: none;
    background-color: var(--DarkGrayBlue);
    color: var(--White);
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 2.8rem;
}

.boton:hover {
    background: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    cursor: pointer;
}

/* Result */

.result {
    background: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: 3rem;
    color: var(--White);
}

@media (min-width: 375px) {
    .result {
        border-radius: 3rem;
    }
}

.result__titulo {
    font-size: 2rem;
    color: var(--LightLavender);
    margin-bottom: 2rem;
}

.result__resultados {
    background: linear-gradient(var(--VioletBlue), var(--PersianBlue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

@media (min-width: 375px) {
    .result__resultados {
        height: 16rem;
        width: 16rem;
    }
}

.result__resultado {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.5;
}

.result__comparacion,
.result__resultado--base {
    font-size: 1.6rem;
    color: var(--LightLavender);
}

.result__clasificacion {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.result__comparacion {
    text-align: center;
}

/* Summary */

.summary {
    background-color: var(--White);
    padding: 2rem;  
    font-size: 1.4rem;
}

@media (min-width: 375px) {
    .summary {
        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
}

.summary__titulo {
    color: var(--DarkGrayBlue);
    margin-bottom: 2rem;
}

.summary__bloque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-radius: .8rem;
    padding: .5rem;
}

.red {
    background-color: var(--bLightRed);
}

.yellow {
    background-color: var(--bOrangeyYellow);
}

.green {
    background-color: var(--bGreenTeal);
}

.blue {
    background-color: var(--bCobaltBlue);
}

.fred {
    color: var(--LightRed);
}

.fyellow {
    color: var(--OrangeyYellow);
}

.fgreen {
    color: var(--GreenTeal);
}

.fblue {
    color: var(--CobaltBlue);
}

.summary__stats {
    display: flex;
    align-items: center;
}

.summary__icon {
    margin: 1rem;
}

.summary__resultado {
    margin: 1rem;
    font-weight: 700;
    color: var(--DarkGrayBlue);
}

.summary__resultado--mod {
    color: var(--bDarkGrayBlue);
}

/* Footer */

.footer {
    border-bottom: 1px solid var(--bDarkGrayBlue);
}

.footer__text {
    font-weight: 700;
    text-align: center;
    margin-bottom: .5rem;
    color: var(--DarkGrayBlue);
}

@media (min-width: 375px) {
    .footer__text {
        margin-top: 2rem;
    }
}